{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
	<div class="rounded shadow-md img-fluid p-5 text-center text-white" style="background: linear-gradient(transparent, black), url('{{ asset('/images/articles') }}/{{ article.image }}') no-repeat center; background-size: cover;">
		<h1>{{ article.title }}</h1>
		<p>Publié le
			{{ article.createdAt | date('d/m/Y') }}
			par
			{{ article.author.firstname }}</p>
		<p>Catégorie :
			{{ article.category.name }}</p>
	</div>

	<div class="container mt-5">
		{{ article.content | raw }}
	</div>
{% endblock %}
